body{
    background-color: #050814;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
h1{
  line-height: 70px;
  font-size: 2.5rem;
  margin: 0px;
  color: #D3D3D3;
  padding-top: 0px;
  margin-top: 0px;
}
.header {
  text-align: center;
  overflow: hidden;
  background-color: rgba(60, 112, 136, 0.466);
  margin: 0px;
  padding: 0px;
}
.header a {
  text-decoration: none;
  color: rgba(167, 173, 253, 0.966);
}
.header a:hover {
  color: rgb(121, 118, 128)	;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  line-height: 0px;
  height: 25px;
  width: 100%;
  background-color: rgba(60, 112, 136, 0.466);
  color: white;
}
.footer marquee{
  padding-bottom: 30px;
  margin-bottom: 30px;
  padding-top: 10px;
}
.header img{
  position: relative;
  top: 10px;
  
}
.bot{
  width: 100%;
  max-width: 500px;
  height: auto;
  position: relative;
  top: 150px;
}

.bot img:hover{
 transition-property: inherit;
 zoom: 1;
}

/* General CSS Setup */
body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* container */
.container {
  padding: 2% 2%;
}

/* CSS talk bubble */
.talk-bubble {
	margin: 40px;
  display: inline-block;
  position: relative;
  bottom: 15em;
	width: 200px;
	height: auto;
	background-color: lightyellow;
}
.border{
  border: 8px solid #666;
}
.round{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;

}


/*Right triangle, placed bottom left side slightly in*/


/* talk bubble contents */
