body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    background-color: #050814;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}
h1{
  font-size: 2.5rem;
  margin: 0px;
  color: #D3D3D3;
  padding-top: 0px;
  margin-top: 0px;
}
.header {
  text-align: center;
  overflow: hidden;
  background-color: rgba(60, 112, 136, 0.466);
  margin: 0px;
  padding: 0px;
}
.header h1:hover{
  text-decoration: none;
  color: rgba(167, 173, 253, 0.966);
  transform: scale(1.2);

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  line-height: 0px;
  height: 25px;
  width: 100%;
  background-color: rgba(60, 112, 136, 0.466);
  color: white;
}
.footer marquee{
  padding-bottom: 30px;
  margin-bottom: 30px;
  padding-top: 10px;
}
.header img{
  position: relative;
  top: 10px;
  
}
.bot{
  width: 100%;
  max-width: 500px;
  height: auto;
  position: relative;
  top: 150px;
}

.bot img:hover{
 transition-property: inherit;
 z-index: 1;
 transform: scale(1.2);
}



/* container */
.container {
  padding: 2% 2%;
}


.header p{
  margin: 0px;
  padding-top: 0px;
  margin-top: 0px;
  font-weight: 2em!important;
  line-height: 3em;
}


